form.normal-form{
    margin: 10px;
}
.controles-container{
    width: 100%;
    padding: 5%;
}
.controles-container > *{
    width: 100%;
}
div.container{
    margin: 0px 40px;
}
.add-button-padding{
    padding-bottom: 10px;
}
mat-radio-group mat-radio-button{
    margin-left: 5px;
}
.button-row button{
    margin: 5px;
}