<div class="container">
    <mat-toolbar color="primary">
        <span>Application Table </span>
      
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
      
        <span>Right Aligned Text</span>
      </mat-toolbar>
</div>
<div class="row"> 
    <div class="col-md-2"> </div>
    <div class="col-md-8"> 
        <app-employees-list></app-employees-list>  
       <!--<app-employe></app-employe>-->

    </div>
    
</div>
